@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shirkhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+sans:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

body {
	margin: 0;
}

.header {
	background: #CACFD6;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Bevan', cursive;
	font-size: 80px;
	font-weight: 400;
	color: #424874;
}

.links {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 16px;
	color: #DCD6F7;
	font-weight: 300;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;

}
