body {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;/* css property aligning all text in the body element horizontally*/
}

img {
	width: 100px;
	height: 100px;
}

.title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 32px; /*specifies a 32px margin space between header title and content pics/text*/
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 52px;
}

.info {
	max-width: 200px;/*sets item div max widths to 200px*/
}
